In [1]:
# This is Kaggle Competition

In [152]:
import numpy as np

In [153]:
import pandas as pd

In [154]:
import os

In [155]:
data=pd.read_csv("train.csv")

In [156]:
test_data=pd.read_csv("test.csv")

In [157]:
# checking high correlations between the variables 
COLUMNS_WITH_HIGH_CORR=set()

In [158]:
for first_column in data.columns:
    if data[first_column].dtype in ['int64','float64']:
        for second_column in data.columns:
            if data[second_column].dtype in ['int64','float64']:
                corr_column_one_two=data[first_column].corr(data[second_column])
                if corr_column_one_two >=0.8 and corr_column_one_two <1:
                    COLUMNS_WITH_HIGH_CORR.add(first_column)
                    COLUMNS_WITH_HIGH_CORR.add(second_column)
                    print("Column {} and column {} has highest correlation of {}".format(first_column,second_column,corr_column_one_two*100))

Column Id and column Id has highest correlation of 99.99999999999999
Column OverallCond and column OverallCond has highest correlation of 99.99999999999997
Column YearBuilt and column GarageYrBlt has highest correlation of 82.5667484174342
Column MasVnrArea and column MasVnrArea has highest correlation of 99.99999999999999
Column BsmtFinSF2 and column BsmtFinSF2 has highest correlation of 99.99999999999997
Column TotalBsmtSF and column 1stFlrSF has highest correlation of 81.95299750050333
Column 1stFlrSF and column TotalBsmtSF has highest correlation of 81.95299750050332
Column 1stFlrSF and column 1stFlrSF has highest correlation of 99.99999999999999
Column GrLivArea and column TotRmsAbvGrd has highest correlation of 82.5489374308843
Column FullBath and column FullBath has highest correlation of 99.99999999999997
Column BedroomAbvGr and column BedroomAbvGr has highest correlation of 99.99999999999999
Column TotRmsAbvGrd and column GrLivArea has highest correlation of 82.54893743088428
Column GarageYrBlt and column YearBuilt has highest correlation of 82.5667484174342
Column GarageCars and column GarageCars has highest correlation of 99.99999999999999
Column GarageCars and column GarageArea has highest correlation of 88.24754142814626
Column GarageArea and column GarageCars has highest correlation of 88.24754142814626
Column 3SsnPorch and column 3SsnPorch has highest correlation of 99.99999999999999
Column ScreenPorch and column ScreenPorch has highest correlation of 99.99999999999999
Column MiscVal and column MiscVal has highest correlation of 99.99999999999999
Column SalePrice and column SalePrice has highest correlation of 99.99999999999997

In [159]:
data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [160]:
COLUMNS_WITH_HIGH_CORR

{'1stFlrSF',
 '3SsnPorch',
 'BedroomAbvGr',
 'BsmtFinSF2',
 'FullBath',
 'GarageArea',
 'GarageCars',
 'GarageYrBlt',
 'GrLivArea',
 'Id',
 'MasVnrArea',
 'MiscVal',
 'OverallCond',
 'SalePrice',
 'ScreenPorch',
 'TotRmsAbvGrd',
 'TotalBsmtSF',
 'YearBuilt'}

In [161]:
for column,nullvalues in zip(data.columns,data.isnull().sum()):
    if nullvalues>0 and column in COLUMNS_WITH_HIGH_CORR:
        print("Column\t{}\thave\t{}\tNULL\tValues ".format(column,nullvalues))

Column	MasVnrArea	have	8	NULL	Values
Column	GarageYrBlt	have	81	NULL	Values

In [162]:
data['MasVnrArea'].describe()

count    1452.000000
mean      103.685262
std       181.066207
min         0.000000
25%         0.000000
50%         0.000000
75%       166.000000
max      1600.000000
Name: MasVnrArea, dtype: float64

In [163]:
data['MasVnrArea'].fillna(data['MasVnrArea'].std(),inplace=True)

In [164]:
data['MasVnrArea'].isnull().sum()

0

In [165]:
data['GarageYrBlt'].describe()

count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%      1961.000000
50%      1980.000000
75%      2002.000000
max      2010.000000
Name: GarageYrBlt, dtype: float64

In [166]:
data['GarageYrBlt'].fillna(data['GarageYrBlt'].mean(),inplace=True)

In [167]:
data['GarageYrBlt'].isnull().sum()

0

In [168]:
for i,j in zip(data.columns,data.isnull().sum()):
    if j>0:
        if data[i].dtype in ['int64','float64']:
            data[i].fillna(data[i].std(),inplace=True)
        else:
            print ("UNKNOWN FILLED {}".format(i))
            data[i].fillna("UNKNOWS",inplace=True)

UNKNOWN FILLED Alley
UNKNOWN FILLED MasVnrType
UNKNOWN FILLED BsmtQual
UNKNOWN FILLED BsmtCond
UNKNOWN FILLED BsmtExposure
UNKNOWN FILLED BsmtFinType1
UNKNOWN FILLED BsmtFinType2
UNKNOWN FILLED Electrical
UNKNOWN FILLED FireplaceQu
UNKNOWN FILLED GarageType
UNKNOWN FILLED GarageFinish
UNKNOWN FILLED GarageQual
UNKNOWN FILLED GarageCond
UNKNOWN FILLED PoolQC
UNKNOWN FILLED Fence
UNKNOWN FILLED MiscFeature

In [169]:
data = data.drop(['Id', 'PoolQC', 'MiscFeature', 'Condition2', 'Exterior2nd', '1stFlrSF', 'TotRmsAbvGrd', 'GarageArea', 'Utilities', 'Street', 'Alley'], axis=1)

In [170]:
data.isnull().sum()

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
LotShape         0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 70, dtype: int64

In [171]:
train_y = data['SalePrice']
train_x = data.drop('SalePrice', axis=1)

In [172]:
from sklearn import preprocessing
# Helper function to encode categorical labels

In [173]:
def encode_labels(dataset):
    label_encoder = preprocessing.LabelEncoder()
    for column in dataset:
        dtype = dataset[column].dtype
        if dtype not in ['int64', 'float64']:
            dataset[column] = label_encoder.fit_transform(dataset[column])
    return dataset

In [174]:
# Standardize and normalize the data
from sklearn.preprocessing import StandardScaler

train_x = encode_labels(train_x)

test_ids = test_data['Id']
common_cols = [col for col in set(data.columns).intersection(test_data.columns)]
test_data = test_data[common_cols]
train_x = train_x[common_cols]
sc = StandardScaler()
train_x = sc.fit_transform(train_x)
test_data = encode_labels(test_data)
test_data = sc.transform(test_data)

In [175]:
from sklearn.tree import DecisionTreeRegressor
modeltree = DecisionTreeRegressor()
modeltree.fit(train_x, train_y)

DecisionTreeRegressor()

In [105]:
# Perform predictions on test data
model = random_search
preds = model.predict(test_data)
submission = pd.DataFrame()
submission['Id'] = test_ids
submission['SalePrice'] = preds

In [106]:
# Save the submission file
from pathlib import Path  
filepath = Path('submission.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
submission.to_csv('submission.csv', sep=',', index=False)